<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #servicoPrestadoList="ngForm" (ngSubmit)="find()">

        <div class="row">
            <div class="col-md-6">
                <label>Nome Cliente:</label>
                <input class="form-control" type="text" name="nome" [(ngModel)]="nome" />
            </div>

            <div class="col-md-6">
                <label>Mês:</label>
                <select class="form-control" [ngModelOptions]="{standalone : true}" [(ngModel)]="mes">
                    <option value="">Selecione</option>
                    <option *ngFor="let mes of meses" [ngValue]="mes">
                        {{mes}}
                    </option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button" class="btn btn-warning ml-1" [routerLink]="['/servico-prestado/form']"><i
                        class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="msgConsulta" class="alert alert-warning" role="alert">{{msgConsulta}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>CLIENTE</th>
                            <th>DESCRIÇÃO</th>
                            <th>VALOR</th>
                            <th>DATA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servico of servicosPesquisados">
                            <td>{{servico.cliente.nome}}</td>
                            <td>{{servico.descricao}}</td>
                            <td>{{servico.valor}}</td>
                            <td>{{servico.data}}</td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </form>
</div>